<nb-layout>
  <nb-layout-header fixed>
    <span class="title">Stamp</span>
    <span class="spacer"></span>
    <ng-container *ngIf="currentUser$ | async as currentUser">
      <stamp-time-track-panel></stamp-time-track-panel>
      <nb-user [name]="currentUser.username" [nbContextMenu]="menuItems" [nbContextMenuTag]="USER_MENU_TAG">
      </nb-user>
    </ng-container>
  </nb-layout-header>

  <nb-layout-column>
    <div class="root-layout">
      <router-outlet></router-outlet>
    </div>
  </nb-layout-column>
</nb-layout>
