<nb-card>
  <nb-card-header>Account Settings</nb-card-header>
  <nb-card-body>
    <div class="setting-container" [formGroup]="formGroup">
      <span>Change Password:</span>
      <div class="single-setting-block">
        <label for="oldPassword">Old:</label>
        <input nbInput id="oldPassword" formControlName="old" type="password">
      </div>

      <div class="single-setting-block">
        <label for="newPassword">New:</label>
        <input nbInput id="newPassword" formControlName="newPwd" type="password">
      </div>

      <div class="single-setting-block">
        <label for="newPasswordValidate">Repeat:</label>
        <input nbInput id="newPasswordValidate" formControlName="repeat" type="password">
      </div>

      <button nbButton (click)="changePasswordRequested()">Submit</button>
    </div>
  </nb-card-body>
</nb-card>
