
table {
  width: 100%;
  border-spacing: 0 0.75rem;

  .context-menu-column {
    width: 4rem;
  }

  .time-column {
    min-width: 7rem;
  }

  .ticket-column {
    min-width: 10rem;
  }

  .notes-column {
    min-width: 20rem;
  }

  .grouped-row-title {
    background: #f2f2f2;
    padding: 0.5rem;
  }
}

