<table *ngIf="groupedRecordsSubject | async as groupedRecords">
  <tr>
    <th></th>
    <th class="time-column">Start</th>
    <th class="time-column">Finished</th>
    <th class="time-column">Duration</th>
    <th>Ticket</th>
    <th>Notes</th>
  </tr>
  <ng-container *ngFor="let group of groupedRecords">
    <tr>
      <td class="grouped-row-title" colspan="6">{{ group.title }}</td>
    </tr>
    <ng-container *ngFor="let record of group.entries">
      <tr>
        <td class="context-menu-column">
          <button nbButton ghost [nbContextMenu]="recordMenuOptions"
                  [nbContextMenuTag]="'record_' + record.id">
            <nb-icon icon="more-vertical-outline"></nb-icon>
          </button>
        </td>
        <td class="time-column">{{record.startedAt | date:'HH:mm' }}</td>
        <td class="time-column">{{record.finishedAt | date:'HH:mm' }}</td>
        <td class="time-column">{{record.startedAt | calcDuration:record.finishedAt }}</td>
        <td class="ticket-column">{{record.ticket}}</td>
        <td class="notes-column">{{record.workNotes}}</td>
      </tr>
    </ng-container>

  </ng-container>
</table>
