.simple {
  min-width: 300px;
}

.extended {
  min-width: 600px;
}

nb-card-body {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;

  div {
    display: flex;
    flex-direction: column;

    input {
      max-width: 100% !important;
    }
  }

  .date-time-block {
    display: flex;
    flex-direction: row;
    column-gap: 0.5rem;

    input {
      flex-grow: 1;
    }
  }


}

nb-card-footer {
  display: flex;
  column-gap: 1rem;
  justify-content: flex-end;
}

