<nb-card [formGroup]="form" [ngClass]="mode === 'extended' ? 'extended' : 'simple'">
  <nb-card-header>{{ title }}</nb-card-header>
  <nb-card-body>
    <span *ngIf="mode === 'extended'">Start:</span>
    <div *ngIf="mode === 'extended'" class="date-time-block">
      <input nbInput placeholder="Date" [nbDatepicker]="startDatePicker" formControlName="startDate">
      <nb-datepicker #startDatePicker></nb-datepicker>

      <nb-timepicker #startTimePicker></nb-timepicker>
      <input nbInput placeholder="Time" [nbTimepicker]="startTimePicker" formControlName="startTime">
    </div>

    <span *ngIf="mode === 'extended'">Finish:</span>
    <div *ngIf="mode === 'extended'" class="date-time-block">
      <input nbInput placeholder="Date" [nbDatepicker]="finishDatePicker" formControlName="finishDate">
      <nb-datepicker #finishDatePicker></nb-datepicker>

      <nb-timepicker #finishTimePicker></nb-timepicker>
      <input nbInput placeholder="Time" [nbTimepicker]="finishTimePicker" formControlName="finishTime">
    </div>

    <!--  <label for="customer">Customer:</label>-->
    <!--  <nb-select id="customer" placeholder="Select Customer" formControlName="customer">-->
    <!--    <nb-option *ngFor="let customer of customers" [value]="customer.id">-->
    <!--      {{customer.name}}-->
    <!--    </nb-option>-->
    <!--  </nb-select>-->

    <!--  <label for="project">Project:</label>-->
    <!--  <nb-select id="project" placeholder="Select Project" formControlName="project">-->
    <!--    <nb-option *ngFor="let project of projects" [value]="project.id">-->
    <!--      {{project.name}}-->
    <!--    </nb-option>-->
    <!--  </nb-select>-->
    <div>
      <label for="ticket">Ticket:</label>
      <input id="ticket" nbInput placeholder="Ticket-Nr..." formControlName="ticket">
    </div>

    <div>
      <label for="workNotes">Notes:</label>
      <input id="workNotes" nbInput placeholder="Notes..." formControlName="workNotes">
    </div>

  </nb-card-body>
  <nb-card-footer>
    <button nbButton (click)="discard()">Abort</button>
    <button nbButton status="success" (click)="save()">Save</button>
  </nb-card-footer>
</nb-card>
