<nb-layout>
  <nb-layout-column>
    <nb-card [formGroup]="form" class="login-card" (keyup.enter)="login()">
      <nb-card-header>
        Login
      </nb-card-header>
      <nb-card-body>

        <nb-form-field>
          <nb-icon nbPrefix icon="person-outline"></nb-icon>
          <input nbInput formControlName="username" id="username"/>
        </nb-form-field>


        <nb-form-field>
          <nb-icon nbPrefix icon="lock-outline"></nb-icon>
          <input nbInput formControlName="password" id="password" type="password"/>
        </nb-form-field>
      </nb-card-body>
      <nb-card-footer>

        <button nbButton status="primary" (click)="login()">Login</button>
      </nb-card-footer>
    </nb-card>

  </nb-layout-column>

</nb-layout>
