<nb-card>
  <nb-card-header>{{ title }}</nb-card-header>
  <nb-card-body *ngIf="text">
    <span class="body-text">{{ text }}</span>
  </nb-card-body>
  <nb-card-footer>
    <button nbButton (click)="close('discard')">{{ discardButtonText }}</button>
    <button nbButton status="success" (click)="close('confirm')">{{ confirmButtonText }}</button>
  </nb-card-footer>
</nb-card>

