<div class="container">
  <span class="duration"
        [ngClass]="{'duration-highlighted': (running$ | async)}">{{(duration$ | async) || '00:00:00 h' }}</span>

  <ng-container *ngIf="(running$ | async) === false">
    <button nbButton ghost status="success" (click)="start()"
            nbTooltip="start Stopwatch">
      <nb-icon icon="play-circle-outline"></nb-icon>
    </button>
  </ng-container>

  <ng-container *ngIf="(running$ | async) === true">
    <button nbButton ghost status="info" (click)="stop()" nbTooltip="stop Stopwatch">
      <nb-icon icon="pause-circle-outline"></nb-icon>
    </button>
  </ng-container>


  <button nbButton ghost [disabled]="(running$ | async) === false" (click)="switch()"
          [status]="(running$ | async) ? 'success' : 'basic'"
          nbTooltip="switch Record">
    <nb-icon icon="shuffle-outline"></nb-icon>
  </button>

  <button nbButton ghost [disabled]="(running$ | async) === false"
          [status]="(running$ | async) ? 'danger' : 'basic'"
          (click)="discardRequested()"
          nbTooltip="discard current Record">
    <nb-icon icon="close-outline"></nb-icon>
  </button>
</div>
