
.container {
  display: flex;
  column-gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

button {
  width: 3rem;
  height: 3rem;
  line-height: 2rem;
}

nb-icon {
  width: 3rem !important;
  height: 3rem !important;
}

nb-select {
  width: 100%;
}

.form-container {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.notes-container {
  display: flex;
}

.duration-highlighted {
  color: royalblue;
}

.duration {
  margin-left: 1rem;
}
