.records-table-container {
  width: 100%;
}

.toolbar-card {
  width: 100%;
  margin-top: -1rem;
  margin-bottom: 0.5rem;

  nb-card-body {
    display: flex;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    align-items: center;

    nb-button-group {
      height: 2rem;
    }
  }
}

.range-view-selector {
  margin-left: 0.5rem;
  display: flex;
  flex-direction: row;
  column-gap: 1rem;

  .selected-range-value {
    flex-grow: 1;
  }

  span {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
