<nb-card class="toolbar-card">
  <nb-card-body>
    <nb-button-group (valueChange)="changeTableView($event)">
      <button nbButtonToggle value="month" pressed>Month</button>
      <button nbButtonToggle value="week">Week</button>
      <button nbButtonToggle value="day">Day</button>
    </nb-button-group>
    <div class="range-view-selector">
      <button nbButton ghost (click)="stepRange('backward')"
              nbTooltip="back">
        <nb-icon icon="chevron-left-outline"></nb-icon>
      </button>
      <span class="selected-range-value">
        {{ 'April 2022' }}
      </span>
      <button nbButton ghost (click)="stepRange('forward')"
              nbTooltip="back">
        <nb-icon icon="chevron-right-outline"></nb-icon>
      </button>
    </div>

    <span class="spacer"></span>
    <button nbButton ghost status="primary" nbTooltip="create new Record" (click)="createNewEntry()">
      <nb-icon icon="plus-outline"></nb-icon>
    </button>
    <button nbButton ghost status="primary"
            nbTooltip="Download Report" (click)="downloadReportRequested()">
      <nb-icon icon="cloud-download-outline"></nb-icon>
    </button>
  </nb-card-body>
</nb-card>

<nb-card class="records-table-container">
  <nb-card-body>
    <stamp-records-table *ngIf="records$ | async as records" [records]="records"></stamp-records-table>
  </nb-card-body>
</nb-card>
