nb-card-footer {
  display: flex;
  column-gap: 1rem;
  justify-content: flex-end;
}

.month-selector {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;

  .selected-month {
    flex-grow: 1;
  }

  span {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}


