<nb-card>
  <nb-card-header>Download Report</nb-card-header>
  <nb-card-body>
    <span>select Month:</span>
    <div class="month-selector">
      <button nbButton ghost (click)="stepMonth('back')"
              nbTooltip="back">
        <nb-icon icon="chevron-left-outline"></nb-icon>
      </button>
      <span class="selected-month">
        {{ months[selectedMonth] }}
      </span>
      <button nbButton ghost (click)="stepMonth('forward')"
              nbTooltip="back">
        <nb-icon icon="chevron-right-outline"></nb-icon>
      </button>
    </div>
  </nb-card-body>
  <nb-card-footer>
    <button nbButton (click)="close(undefined)">Abort</button>
    <button nbButton status="success" (click)="close('download')">Download</button>
  </nb-card-footer>
</nb-card>

